doctype html
html(lang="en")
    head
        title Reminder to verify you Founder$hare Account.
body
    #container
        | Hi #{firstName},
        br
        br
        | We noticed you started to set up your account, but you have one more step before you are finished. In order to buy, gift or redeem FounderShare® gift cards, you need to verify your email address by clicking on this link: #{verifyUrl}.
        br
        br
        | Don't want to verify your account? No problem. Click here to stop receiving these notifications: #{stopVerifyUrl}.
        br
        br
        | Hope to see you soon!
        br
        | The FounderShare Team
